
<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %><br>
       <a href="/auth/facebook">Facebook Login</a>

    </div>
  <% end %>
</div>

